<div class="jumbotron"><div align="center">

<h1>Happypanda</h1><align="right">
<p>Welcome to my funny page</p>
 <%= link_to 'Login', root_path, class: 'btn btn-default' %>
 <%= link_to 'Join', root_path, class: 'btn btn-primary' %>
</div>




</div>
